.skillcard{
    padding: 1.5rem 2rem;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1.5rem;
    width: 100%;
    
}

.skillcard>p{
    text-transform: uppercase;
}